div {
	margin: 0;
	padding: 0;
}

.cosmet {
	background-color: #000010;
	color: #e1e1e1;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.graph-container {
	border-bottom: 1px solid #444;
	height: 45%;
	position: absolute;
	top: 0;
	width: 100%;
}

.graph {
	height: 100%;
	position: absolute;
	width: 65%;
}

.status {
	height: 100%;
	position: absolute;
	right: 0;
	width: 35%;
	border-left: 1px solid #444;
}

.details-container {
	bottom: 0;
	height: 55%;
	position: absolute;
	top: 45;
	width: 100%;
}
